<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxy.framework.capricorn.mapper.HouseMapper">
    <resultMap id="BaseResultMap" type="com.galaxy.framework.capricorn.entity.House">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="acreage" jdbcType="DECIMAL" property="acreage"/>
        <result column="height" jdbcType="DECIMAL" property="height"/>
        <result column="public_area" jdbcType="DECIMAL" property="publicArea"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="modified" jdbcType="TIMESTAMP" property="modified"/>
        <result column="version" jdbcType="TINYINT" property="version"/>
    </resultMap>
    <resultMap id="RelationResultMap" type="com.galaxy.framework.capricorn.entity.House">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="acreage" jdbcType="DECIMAL" property="acreage"/>
        <result column="height" jdbcType="DECIMAL" property="height"/>
        <result column="public_area" jdbcType="DECIMAL" property="publicArea"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="modified" jdbcType="TIMESTAMP" property="modified"/>
        <result column="version" jdbcType="TINYINT" property="version"/>
        <association property="area" column="area_code"
                     javaType="com.galaxy.framework.capricorn.entity.Area">
            <id column="area_code" property="code" jdbcType="VARCHAR"/>
            <result column="area_name" property="name" jdbcType="VARCHAR"/>
            <result column="user_code" property="userCode" jdbcType="VARCHAR"/>
            <association property="floor" column="floor_code"
                         javaType="com.galaxy.framework.capricorn.entity.Floor">
                <id column="floor_code" property="code" jdbcType="VARCHAR"/>
                <result column="floor_name" property="name" jdbcType="VARCHAR"/>
                <association property="building" column="building_code"
                             javaType="com.galaxy.framework.capricorn.entity.Building">
                    <id column="building_code" property="code" jdbcType="BIGINT"/>
                    <result column="building_name" property="name" jdbcType="VARCHAR"/>
                    <result column="location_code" property="locationCode" jdbcType="VARCHAR"/>
                </association>
            </association>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    id, code, name, acreage, height, public_area, area_code, remark, status,
    creator, created, modifier, modified, version
  </sql>
    <sql id="Relation_Column_List">
        t1.id, t1.code, t1.name, t1.acreage, t1.height, t1.public_area, t1.area_code, t1.remark, t1.status, t1.creator, t1.created, t1.modifier,
        t1.modified, t1.version, t2.code as area_code, t2.name as area_name, t3.code as floor_code, t3.name as floor_name, t4.code as building_code,
        t4.name as building_name, t4.location_code, t2.user_code
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from basic_house
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from basic_house
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.galaxy.framework.capricorn.entity.House">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into basic_house (code, name,
        acreage, height, public_area,
        area_code, remark, status,
        creator, created, modifier,
        modified, version)
        values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{acreage,jdbcType=DECIMAL}, #{height,jdbcType=DECIMAL}, #{publicArea,jdbcType=DECIMAL},
        #{areaCode,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
        #{creator,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR},
        #{modified,jdbcType=TIMESTAMP}, #{version,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" parameterType="com.galaxy.framework.capricorn.entity.House">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into basic_house
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="acreage != null">
                acreage,
            </if>
            <if test="height != null">
                height,
            </if>
            <if test="publicArea != null">
                public_area,
            </if>
            <if test="areaCode != null">
                area_code,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="modified != null">
                modified,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="acreage != null">
                #{acreage,jdbcType=DECIMAL},
            </if>
            <if test="height != null">
                #{height,jdbcType=DECIMAL},
            </if>
            <if test="publicArea != null">
                #{publicArea,jdbcType=DECIMAL},
            </if>
            <if test="areaCode != null">
                #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modified != null">
                #{modified,jdbcType=TIMESTAMP},
            </if>
            <if test="version != null">
                #{version,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.galaxy.framework.capricorn.entity.House">
        update basic_house
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="acreage != null">
                acreage = #{acreage,jdbcType=DECIMAL},
            </if>
            <if test="height != null">
                height = #{height,jdbcType=DECIMAL},
            </if>
            <if test="publicArea != null">
                public_area = #{publicArea,jdbcType=DECIMAL},
            </if>
            <if test="areaCode != null">
                area_code = #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modified != null">
                modified = #{modified,jdbcType=TIMESTAMP},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.galaxy.framework.capricorn.entity.House">
    update basic_house
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      acreage = #{acreage,jdbcType=DECIMAL},
      height = #{height,jdbcType=DECIMAL},
      public_area = #{publicArea,jdbcType=DECIMAL},
      area_code = #{areaCode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modified = #{modified,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByCode" parameterType="string" resultMap="RelationResultMap">
        select
        <include refid="Relation_Column_List"/>
        from basic_house t1
        left join basic_area t2 on t1.area_code=t2.code
        left join basic_floor t3 on t2.floor_code=t3.code
        left join basic_building t4 on t3.building_code = t4.code
        where t1.code=#{code}
    </select>
    <select id="findAll" parameterType="map" resultMap="RelationResultMap">
        select
        <include refid="Relation_Column_List"/>
        from basic_house t1
        left join basic_area t2 on t1.area_code=t2.code
        left join basic_floor t3 on t2.floor_code=t3.code
        left join basic_building t4 on t3.building_code = t4.code
        where 1=1
        <if test="areaCode">
            and t1.area_code=#{areaCode}
        </if>
        <if test="floorCode">
            and t2.floor_code=#{floor_code}
        </if>
        <if test="buildingCode">
            and t3.building_code=#{bulidingCode}
        </if>
        <if test="locationCode">
            and t3.location_code=#{locationCode}
        </if>
        <if test="status">
            and t1.status=#{status}
        </if>
    </select>
</mapper>